$headerColor: #222222;
$sidebarColor: #373a47;
$grey: #AAAAAA;

.Login {
    padding: 60px 0;
<<<<<<< HEAD
    background-color: white;
=======
    color: $grey;
>>>>>>> 556410334505e944058edabef22aa07d82db8c04
}

.Login form {
    margin: 0 auto;
    max-width: 320px;
}