$headerColor: #222222;
$sidebarColor: #373a47;
$grey: #AAAAAA;

.Login {
    padding: 60px 0;
    background-color: $headerColor;
    color: $grey;
}

.Login form {
    margin: 0 auto;
    max-width: 320px;
}