$button-border: #666666;

.roundButton {
  background-color: #333333;
  margin-bottom: 20px;
  width: auto;
  height: auto;
  border: 10px solid $button-border;
  outline: none;
  transition: all  .6s cubic-bezier(0,1.26,.8,1.28);
  color: white;

}

.roundButton:hover {
  background-color: #666666;
  cursor: pointer;
  border-color: #FFFFFF;
  transform: scale(1.2,1.2);
}

.roundButton:active {
  border-color: #000000;
  background-color: #AAAAAA;
}
