$headerColor: #222222;
$sidebarColor: #373a47;
$grey: #AAAAAA;

.Signup {
    padding: 60px 0;
    background-color: $headerColor;
    color: $grey;
}

.Signup form {
    margin: 0 auto;
    max-width: 320px;
}