.slide-menu {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate3d(-100vw, 0, 0);
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  width: 100vw;
  height: 100vh; }

.container-li {
  margin-bottom: 10px; }
